<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Fred</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="stylesheets/twelverestaurants.css">

</head>
<body>
   
<!-- header section starts  -->

<header class="header">
    <a href="/homepage">
   <img src="images\Logo (1).svg">

   

    <div class="icons">
       
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
         
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/cart-img-1.png" alt="">
            <div class="content">
                <h3>watermelon</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/cart-img-2.png" alt="">
            <div class="content">
                <h3>onion</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
       

    <form action="" class="login-form">

        <h3>login now</h3>
        <input type="email" placeholder="your email" class="box">
        <input type="password" placeholder="your password" class="box">
        <p>forget your password <a href="#">click here</a></p>
        <p>don't have an account <a href="#">create now</a></p>
        <input type="submit" value="login now" class="btn">
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" style=background-color:black id="home">
    <img src="images\canehunt\Steak-meat-barbecue_2560x1600.jpg" width="700" height="600">

</div>
    <div class="content">

        <h1 style = "height: 80px;
        width: 500px;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 66px;
        font-weight: 900;
        letter-spacing: 1.5px;
        line-height: 80px;">Cane Hunt
</h1>
        <br>  <br>  <br>  <br>  <br>  <br>  <br><br>
        <p style="  height: 24px;
  width: 341px;
  color:  #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 24px;text-align: left;">Street food , fast food 


</p>
<br>
<p style="height: 54px;
  width: 766px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 27px;text-align: left;">
  Cane Hunt  Restaurants is known for the best food quality and services.

</p>
<br>
<p style=" height: 28px;
  width: 471px;
  color:  #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;text-align: left;">Open now  - 10:30 am- 9:30 pm (Today)</P>
   
   <br><br><br><br><br><br>
   <a href="/caneonline" class="btn">Order Online</a>
    </div>


</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> About <span>Restaurant</span> 
       
    </h1>
<h3 style =" height: 20px;
  width: 1300px;
  color:maroon;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 20px;">Cane Hunt is both restaurant and bar, with lots of pool tables,
   live music and two dance floors for your entertainment and its well known for its delicious food.</h3>
<br><br><br><br>

<h1 style="height: 29px;
width: 20px;
color:red;
font-family: Lato;
font-size: 30px;
font-weight: bold;
letter-spacing: 0.1px;
line-height: 29px;">Safety Measures</h1>
<br><br><br>

    <div class="box-container">

        <div class="box">
            <img src="images\thermometer.svg" alt="">
            <h3>Daily Temperature Checks</h3>
            <p>Daily Temperature Checks</p>
           
        </div>

        <div class="box">
            <img src="images\vaccine.svg" alt="">
            <h3>Vaccine Status</h3>
            <br> <br> <br>
            <p>All employees are Vaccinated</p>
       
        </div>

        <div class="box">
            <img src="images\donut.svg" alt="">
            <h3>Food Temperature</h3>
            <br> <br> <br>
            <p>Food cooked at 32°C</p>
           
        </div>
            <div class="box">
            <img src="images\hydroalcoholic-gel.svg" alt="">
            <h3>Santization Status</h3>
            <br> <br> <br>
            <p>Rider Sanitization</p>
           
        </div>

    </div>


</section>

<!-- features section ends -->


<!-- products section ends -->
<section class="products" id="products">

    <h1 class="heading"> Popular<span>Dishes</span> </h1>
<h1 style =" height: 20px;
  width: 932px;
  color: #282C3F;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 20px;">
</h1>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="images\canehunt\pexels-photo-2983101.jpg" alt="">
                <h3>Ham-Burgger</h3>
                <div class="price"> Rs.199/- - 399/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="images\canehunt\istockphoto-522398707-612x612.jpg" alt="" width="400" height="600">
              
                <h3>Cheese Pan Pizza</h3>
                <div class="price"> Rs.199/- - 499/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

         
        </div>

    </div>


</section>

<!-- products section ends -->

<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading"> OTHER <span>Restaurants</span> </h1>


    <div class="box-container">
        <div class="box">
            <img src="images\Bitmap (1).png" alt="">
            <h3>Big Bites</h3>
          <p> Street Food,Fast Food,South Indian</p>


            <p <span>5.5KM<span> : 27 MINS : <span>300Rs FOR ONE</span></p>
            <a href="bigbites" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images\Bitmap (12).png" alt="">
            <h3>Grand Hotel</h3>
          <p> German, Japanese, Chinese</p>


            <p <span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="grand" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images\Bitmap (2).png" alt="">
             <h3>Kerala Bro's</h3>
          <p> Kerala,Biryani,Beverages</p>


            <p <span>5.5KM<span> : 25 MINS : <span>250Rs FOR ONE</span></p>
           
            <a href="\keral" class="btn">60% off | Use HOTDEAL</a>

        </div>

        <div class="box">
            <img src="images\Bitmap (3).png" alt="">
              <h3>Biryani House</h3>
          <p> Biryani,Hyderabadi,Indian</p>


            <p <span>1.3KM<span> : 16 MINS : <span>150Rs FOR ONE</span></p>
       
            <a href="biryani" class="btn">60% off | Use HOTDEAL</a>

        </div>

        <div class="box">
            <img src="images\Bitmap (4).png" alt="">
               <h3>Pasta Street</h3>
          <p> Street Food, Italian, Chinese</p>


            <p <span>2.7KM<span> : 24 MINS : <span>100Rs FOR ONE</span></p>
       
            <a href="pasta" class="btn">60% off | Use HOTDEAL</a>

        </div>
       
       <div class="box">
            <img src="images\Bitmap (5).png" alt="">
            <h3>Empire Restaurant</h3>
          <p> Bakery,Desserts,Beverages,Ice Cream</p>


            <p <span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
            <a href="empire" class="btn">60% off | Use HOTDEAL</a>

        </div>

        <div class="box">
            <img src="images\Bitmap (8).png" alt="">
            <h3>Sandwich Eats</h3>
          <p> Sandwich Eats</p>


            <p><span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="sandwich" class="btn">60% off | Use HOTDEAL</a>
        </div>


        <div class="box">
            <img src="images\Bitmap (6).png" alt="">
            <h3>Natural Ice Cream</h3>
          <p> Ice Cream</p>


            <p><span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="icecream" class="btn">60% off | Use HOTDEAL</a>
        </div>


<div class="box">
            <img src="images\Bitmap (9).png" alt="">
              <h3>Taaza Thindi</h3>


          <p> South Indian</p>
          <p><span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
          <a href="taaza" class="btn">60% off | Use HOTDEAL</a>

        </div>

<div class="box">
            <img src="images\Bitmap (10).png" alt="">
            <h3>Green Land Hotel</h3>
         
          <p> North Indian</p>


            <p><span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="green" class="btn">60% off | Use HOTDEAL</a>

        </div>

<div class="box">
            <img src="images\Bitmap (11).png" alt="">
               <h3>Krazzy Folds</h3>
          <p> Asian,Italian & Mexican</p>


            <p><span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="krazy" class="btn">60% off | Use HOTDEAL</a>

        </div>


    </div>

</section>

<!-- categories section ends -->

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="images\canehunt\Bitmap-1 (1).png" alt="">
                <p>This place is great! Atmosphere is chill and cool but the staff is also really friendly. They know what they’re doing and what they’re talking about, and you can tell making the customers happy is their main priority. Food is pretty good, some italian classics and some twists, and for their prices it’s 100% worth it.</p>
                <h3>Geetu Lilian Peter</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>


           

        </div>

    </div>

</section>

<!-- review section ends -->



<!-- footer section starts  -->
       
        <footer class="footer">
       
            <div class="inner-footer">
           
                <div class="social-links">
                   
                   <ul>
                       <li class="social-items"><a href=""#><img src="images\facebook.svg"></a></li>
                       <li class="social-items"><a href=""#><img src="images\twitter.svg"></a></li>
                       <li class="social-items"><a href=""#><img src="images\linkedin.svg"></a></li>
                   </ul>
                </div>
                <div class="quick-links">
                    <ul>
                        <li class="quick-items"><a href="#">Home</a></li>
                        <li class="quick-items"><a href="#">Best Services</a></li>
                        <li class="quick-items"><a href="#">Our Restaurants</a></li>
                        <li class="quick-items"><a href="#">FAQ's</a></li>
                        <li class="quick-items"><a href="#">Our Stats</a></li>
                        <li class="quick-items"><a href="#">Customer Speak</a></li>
                        <li class="quick-items"><a href="#">Social Media</a></li>
                    </ul>
                </div>
               
            </div>
       
                <div class="outer-footer">
                    <img src="images\Logo (1).svg">
<h2 style="text-align:center">Freshfred 2021, All rights are reserved</h2>
                </div>

           
        </footer>
       
        <!-- footer section ends -->


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>
