<!DOCTYPE html>
<html lang="en">
<head>
    
   
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fresh Fred</title>
    
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    
        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
        <!-- custom css file link  -->
        <link rel="stylesheet" href="stylesheets/faq.css">
    
    </head>
    <body>
       
    <!-- header section starts  -->
    
    <header class="header">
    
       <img src="images/Logo (1).svg">
    
       
    
        <div class="icons">
           
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
             
        </div>
    
        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    
        <div class="shopping-cart">
            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="image/cart-img-1.png" alt="">
                <div class="content">
                    <h3>watermelon</h3>
                    <span class="price">$4.99/-</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="image/cart-img-2.png" alt="">
                <div class="content">
                    <h3>onion</h3>
                    <span class="price">$4.99/-</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>
           
    
        <form action="" class="login-form">
    
            <h3>login now</h3>
            <input type="email" placeholder="your email" class="box">
            <input type="password" placeholder="your password" class="box">
            <p>forget your password <a href="#">click here</a></p>
            <p>don't have an account <a href="#">create now</a></p>
            <input type="submit" value="login now" class="btn">
        </form>
    
    </header>
    
    <!--header section ends-->
    
    <!--home section starts-->
    <section class="home" style="background-color:white;" id="home">
        <img src="images/flat-people-asking-questions-illustration_23-2148910627.webp" width="700" height="800">
        <div class="content">
    
            <h1 style = "height: 240px;
            width: 422px;
            color: tomato;
            font-family: Lato;
            font-size: 66px;
            font-weight: 900;
            letter-spacing: 1.5px;
            line-height: 80px;"> Frequently Asked Questions</h1>
        </div>
    
    </section>
    <!--home secction ends-->
    
    <!--container with questions starts-->
    
    <section class="questions" id="questions">
        <div class="box-container">
            <div class="box">
                <br>
                <div class="box" style="height: 182px;
                width: 1140px;
                border-radius: 10px;
                background-color: gainsboro">
                <br>
                <p style="height: 14px;
                width: 500px;
                color: #313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;text-align: left;padding-left: 10px;"><br>What is FreshFred?</p>
                <p style="height: 98px;
                width: 1080px;
                color: purple;
                font-family: Roboto;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.5px;
                line-height: 30px;padding-left: 10px;"><br>
                FreshFred established in 2021 during the Covid - 19 Pandemic. It comprises of verious restaurants with exotic dishes and it deals with restaurants. It was started during the pandemic with a vision of serving the customer with a 5 Star Experience. FreshFred serves you with best food in town and all the food is made up of fresh Ingredients. We focus on serving the people.
                 For any info contact us : Info@Fresfesh.com
                </p>
    
                </div>
            </div>
    
            <div class="box">
                <br>
                <div class="box" style="box-sizing: border-box;
                height: 120px;
                width: 1140px;
                border: 1px solid #D5D4D4;
                border-radius: 10px;
                background-color: #FFFFFF;">
                <br>
                <p style="height: 14px;
                width: 500px;
                color: #313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;padding-left: 10px;">How can I Cancel My Order?</p>
                 <p style="height: 98px;
                 width: 1080px;
                 color: palevioletred;
                 font-family: Roboto;
                 font-size: 16px;
                 font-weight: bold;
                 letter-spacing: 0.5px;
                 line-height: 30px;padding-left: 10px;"><br>After you have clicked on cancel.The customer executive will confirm with the restaurant if it is possible to cancel your order.
                  If yes, then your order will be cancelled instantly.</p>
                </div>
            </div>
    
            <div class="box">
                <br>
                <div class="box" style="box-sizing: border-box;
                height: 90px;
                width: 1140px;
                border: 1px solid #D5D4D4;
                border-radius: 10px;
                background-color: #FFFFFF;">
                <br>
                <p style="height: 14px;
                width: 500px;
                color: #313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;padding-left: 10px;">How do I connect with Customer Support?</p>
                 <p style="height: 98px;
                 width: 1080px;
                 color: palevioletred;
                 font-family: Roboto;
                 font-size: 16px;
                 font-weight: bold;
                 letter-spacing: 0.5px;
                 line-height: 30px;padding-left: 10px;"><br>To exercise your rights, you can contact Info@Fresfesh.com at any time.</p>
                </div>
            </div>
    
    
            <div class="box">
                <br>
                <div class="box" style="box-sizing: border-box;
                height: 90px;
                width: 1140px;
                border: 1px solid #D5D4D4;
                border-radius: 10px;
                background-color: #FFFFFF;">
                <br>
                <p style="height: 14px;
                width: 500px;
                color:#313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;padding-left: 10px;">What are your delivery hours?</p>
                 <p style="height: 98px;
                 width: 1080px;
                 color: palevioletred;
                 font-family: Roboto;
                 font-size: 16px;
                 font-weight: bold;
                 letter-spacing: 0.5px;
                 line-height: 30px;padding-left: 10px;"> <br>We generally makes deliveries from  8AM to 12aM, 
                 throughout the week..</p>
                </div>
            </div>
    
    
            <div class="box">
                <br>
                <div class="box" style="box-sizing: border-box;
                height: 90px;
                width: 1140px;
                border: 1px solid #D5D4D4;
                border-radius: 10px;
                background-color: #FFFFFF;">
                <br>
                <p style="height: 14px;
                width: 500px;
                color: #313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;padding-left: 10px;">How do I order for my friends, family etc.?</p>
                 <p style="height: 98px;
                 width: 1080px;
                 color:palevioletred;
                 font-family: Roboto;
                 font-size: 16px;
                 font-weight: bold;
                 letter-spacing: 0.5px;
                 line-height: 30px;padding-left: 10px;"><br>If you already have an account registered with us then sign in 
                 ,place your food order from variety of restaurants and enjoy your meal</p>
                </div>
            </div>
    
            <div class="box">
                <br>
                <div class="box" style="box-sizing: border-box;
                height: 90px;
                width: 1140px;
                border: 1px solid #D5D4D4;
                border-radius: 10px;
                background-color: #FFFFFF;">
                <br>
                <p style="height: 14px;
                width: 500px;
                color: #313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;padding-left: 10px;">How do I Enable my location?</p>
                 <p style="height: 98px;
                 width: 1080px;
                 color: palevioletred;
                 font-family: Roboto;
                 font-size: 16px;
                 font-weight: bold;
                 letter-spacing: 0.5px;
                 line-height: 30px;padding-left: 10px;"><br>Once you have signed in makwe sure you turn 
                 on the GPS in your phone so that the location is enabled automatically</p>
                </div>
            </div>
    
    
            <div class="box">
                <br>
                <div class="box" style="box-sizing: border-box;
                height: 90px;
                width: 1140px;
                border: 1px solid #D5D4D4;
                border-radius: 10px;
                background-color: #FFFFFF;">
                <br>
                <p style="height: 14px;
                width: 500px;
                color: #313940;
                font-family: Lato;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 14px;padding-left: 10px;">How do I deactivate my account?</p>
                 <p style="height: 98px;
                 width: 1080px;
                 color: palevioletred;
                 font-family: Roboto;
                 font-size: 16px;
                 font-weight: bold;
                 letter-spacing: 0.5px;
                 line-height: 30px;padding-left: 10px;"><br>Go to settings click on deactivate my account,
                 click on confirm and you will get a confirmation mail wrt the account deactivation.</p>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!-- footer section starts  -->
           
    <footer class="footer">
           
        <div class="inner-footer">
       
            <div class="social-links">
               
               <ul>
                <li class="social-items"><a href="#"><img src="images/facebook.svg"></a></li>
                <li class="social-items"><a href="#"><img src="images/twitter.svg"></a></li>
                <li class="social-items"><a href="#"><img src="images/linkedin.svg"></a></li>
               </ul>
            </div>
            <div class="quick-links">
                <ul>
                    <li class="quick-items"><a href="#">Home</a></li>
                    <li class="quick-items"><a href="#">Best Services</a></li>
                    <li class="quick-items"><a href="#">Our Restaurants</a></li>
                    <li class="quick-items"><a href="#">FAQ's</a></li>
                    <li class="quick-items"><a href="#">Our Stats</a></li>
                    <li class="quick-items"><a href="#">Customer Speak</a></li>
                    <li class="quick-items"><a href="#">Social Media</a></li>
                </ul>
            </div>
           
        </div>
    
            <div class="outer-footer">
                <img src="images/Logo (1).svg">
    <h2 style="text-align:center">Freshfred 2021, All rights are reserved</h2>
            </div>
    
       
    </footer>
    
    <!-- footer section ends -->
    
    
    </body>
    </html>

