<html lang="en">
        <head>
            
            <title>Bigbites</title>
        
            <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        
            <!-- font awesome cdn link  -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        
            <!-- custom css file link  -->
            <link rel="stylesheet" href="stylesheets/homepage.css">
        
        </head>
        <body>
            
        <!-- header section starts  -->
        
        <header class="header">
        
           <img src="images/Logo (1).svg">
        
           <nav class="navbar">
            <a href="#home">home</a>
            <a href="#features">features</a>
            <a href="#categories">Other Restaurants</a>
            <a href="/login">Sign In</a>
            <a href="/registration">Sign Up</a>
       
            
        </nav>
        
            <div class="icons">
               

                <div class="fas fa-search" id="search-btn" ></div>
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
                <a href="/faq">
                <div class="fa fa-question" id="question-btn" >
                 </div>
           
            </div>
        
           
            
        
        </header>
        
        <!-- header section ends -->
        
        <!-- home section starts  -->
        
        <section class="home" style=background-color:linen id="home">
            <img src="images/image-removebg-preview.png"  width="500" height="500"></img>
        </div>
            <div class="content">
        
                <h1 style = "height: 80px;
          width: 277px;
          color:black;
          font-family: Lato;
          font-size: 66px;
          font-weight: 900;
          letter-spacing: 1.5px;
          line-height: 80px;">Hungry?</h1>
               <br><br><br>
        <p style="  height: 24px;
          width: 341px;
          color: red;
          font-family: Roboto;
          font-size: 66px;
          font-weight: 900;
          letter-spacing: 0.5px;
          line-height: 24px;">24x7Delivery</p>
        <br><br><br>
        <p style="height: 80px;
          width: 766px;
          color: black;
          font-family: Roboto;
          font-weight: 900;
          font-size: 66px;
          letter-spacing: 1.5px;
          line-height: 27px;">&Pickup</p>
     <br><br><br><br><br>
       
       <p style=" height:30 px;
          width: 471px;
          color:  black;
          font-family: Roboto;
          font-size: 18px;
          letter-spacing: 0.5px;
          line-height: 28px;">Best-in-class Delivery with 450+ Valets across the city.<br>We focus on delivering within 30 Minutes. </P>

                <a href="#" class="btn">shop now</a>
            </div>
        
        </section>
        
        <!-- home section ends -->
         
        
        <!-- features section starts  -->

 <section class="features" id="features">
        
            <h1 class="heading"><span>We'er at our best</span> </h1>
  
  <h1 style =" height: 20px;
          width: 932px;
          color: #282C3F;
          font-family: Roboto;
          font-size: 18px;
          letter-spacing: 0.5px;
          line-height: 20px;text-align: center;"><br><br>No matter what you are looking for we have got you covered with our<br>
          <br>
          delivery experts</h1>
        <br><br><br>
        <br><br><br>
      
        <!--container for features -->
       
        <div class="box-container">
        
            <div class="box">
                <img src="images/nominorder.png" alt="">
                <h3>Daily No Minimum Order</h3>
                <p>Order for you and your friends no boundary,no restriction.</p>
               
            </div>
    
            <div class="box">
                <img src="images/trainedchef.jpg" alt="">
                <h3>High Trained Chefs</h3>
                <p>5 stars chefs trained under Gordan Ramsey.
                    Get maximum taste in food./p>
           
            </div>
    
            <div class="box">
                <img src="images/food delivery.jpg" alt="">
                <h3>Speed On Wheels</h3>
                <p>We are going to deliver the food 
                    within 30 minutes guarantees.
                </p>
                
            </div>
                
        </div>
        </section>
      
<!-- features section ends -->
        
        
    

<!-- restaurant section starts  -->
        
<section class="categories" style=background-color:silver id="categories">

    <h1 class="heading"> OTHER <span>Restaurants</span> </h1>


    <div class="box-container">

        <div class="box">
            <img src="images/Bitmap (1).png" alt="">
            <h3>Big Bites</h3>
          <p> Street Food,Fast Food,South Indian</p>


            <p ><span>5.5KM<span> : 27 MINS : <span>300Rs FOR ONE</span></p>
            <a href="/bigbites" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images/Bitmap (2).png" alt="">
            <h3>Kerala Bro's</h3>
          <p> Kerala,Biryani,Beverages</p>


            <p <span>5.5KM<span> : 25 MINS : <span>250Rs FOR ONE</span></p>
            <br><br>
            <a href="/keral" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images/Bitmap (3).png" alt="">
            <h3>Biryani House</h3>
          <p> Biryani,Hyderabadi,Indian</p>


            <p <span>1.3KM<span> : 16 MINS : <span>150Rs FOR ONE</span></p>
            <br><br><br>
            <a href="/biryani" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images/Bitmap (4).png" alt="">
            <h3>Pasta Street</h3>
          <p> Street Food, Italian, Chinese</p>


            <p <span>2.7KM<span> : 24 MINS : <span>100Rs FOR ONE</span></p>
            <br><br>
            <a href="/pasta" class="btn">60% off | Use HOTDEAL</a>
        </div>
       
       <div class="box">
            <img src="images\Bitmap (5).png" alt="">
            <h3>Empire Restaurant</h3>
          <p> Bakery,Desserts,Beverages,Ice Cream</p>


            <p><span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
            <a href="/empire" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images/Bitmap (6).png" alt="">
            <h3>Natural Ice Cream</h3>
          <p> Ice Cream</p>


            <p><span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="/icecream" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images/Bitmap (7).png" alt="">
            <h3>Cane Hunt</h3>
          <p>Juics,Pizzas,Burgers,Deserts</p>


            <p> <span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="/cane" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images/Bitmap (8).png" alt="">
            <h3>Sandwich Eats</h3>
          <p> Sandwich Eats</p>


            <p><span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="/sandwich" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images/Bitmap (9).png" alt="">
            <h3>Taaza Thindi</h3>
          <p> South Indian</p>
          <p><span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
          <a href="/taaza" class="btn">60% off | Use HOTDEAL</a>
</div>


<div class="box">
            <img src="images/Bitmap (10).png" alt="">
            <h3>Green Land Hotel</h3>
          <p> North Indian, Mexican, Chinese</p>


            <p> <span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="/green" class="btn">60% off | Use HOTDEAL</a>
        </div>
        
        <div class="box">
            <img src="images/Bitmap (11).png" alt="">
            <h3>Krazzy Folds</h3>
          <p> Asian,Italian & Mexican</p>


            <p ><span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="/krazy" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images/Bitmap (12).png" alt="">
            <h3>Grand Hotel</h3>
          <p> German, Japanese, Chinese</p>


            <p><span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="grand" class="btn">60% off | Use HOTDEAL</a>
        </div>


    </div>

</section>

        <!-- restaurant section ends -->
        

        <section class="discounts"  style=background-color:#FFFFFF id="discounts">
        
            
            <br><br><br>
            <br><br><br>
    
        
        <!--container for features special discounts-->
        <section class="discounts"  style=background-color:#FFFFFF id="discounts">
        
            
        <br><br><br>
        <br><br><br>
      
       
        <div class="box-container">
        
            <img src="images\download-removebg-preview.png">
            
            <div class="rectangle" >
                
                <div class="rectangle">
                
                <img src="images\Bitmap (13).png" >
                
                <h3 style="height: 19px; width: 66px;color: #282C3F;font-family: Roboto;font-size: 16px; font-weight: bold;letter-spacing: 0.5px;
                line-height: 19px;">Aiana G</h3>
                
                <p style="height: 40px; width: 95px;color: #282C3F;font-family: Roboto;font-size: 14px;letter-spacing: 0.5px; line-height: 20px;"> Clean and Hygenic</p>
              </div>
            </div>
            <br><br><br>
            <br><br><br>
    

            <div class="rectangle">
                <img src="images\Bitmap (14).png" >
                <h3 style="height: 19px; width: 66px;color: #282C3F;font-family: Roboto;font-size: 16px; font-weight: bold;letter-spacing: 0.5px;
                line-height: 19px;">David Smith</h3>
                <br>
                 <p style="height: 40px; width: 95px;color: #282C3F;font-family: Roboto;font-size: 14px;letter-spacing: 0.5px; line-height: 20px;"> Contactless Delivery</p>
            </div>
            

            <div class="rectangle">
                <img src="images\Bitmap (16).png">
                <h3 style="height: 19px; width: 66px;color: #282C3F;font-family: Roboto;font-size: 16px; font-weight: bold;letter-spacing: 0.5px;
                    line-height: 19px;">Fred Alan</h3>
                    <br>
                 <p style="height: 40px; width: 95px;color: #282C3F;font-family: Roboto;font-size: 14px;letter-spacing: 0.5px; line-height: 20px;">Great and Awesome</p>
            </div>

        </div>
       
       </section>
        
     </section>

      
               
<!--our stats new-->
<br><br> <br> <br> <br> <br> 
    <section class="statistics" style=background-color:#FEF5F5 id="statistics">
        <h2  style="height: 50px;
        width: 183px;
        color: black;
        font-family: Lato;
        font-size: 42px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 50px;
        text-align: center;">Our Stats</h2>
        <p style="height: 52px;
        width: 527px;
        color: #848484;
        font-family: Roboto;
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 26px;
        text-align: center;align-content: center;">We are best in our field delivery you satisfaction at your doorstep. Stats don’t lie</p>
        <br>
           
  
  
        <br><br><br>
        <br><br><br>
      
      
       
        <div class="box-container">
        
            <div class="box" style=" height: 224px;
            width: 262.5px;
            border-radius: 15px;
            background-color: #364DE7;">
             
                <h3 style="height: 61px;
                width: 102px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 52px;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 61px;
                text-align: center;">96%</h3>
                <h6 style=" height: 21px;
                width: 158px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 21px;
                text-align: center;">Years of Services</h6>
                <p style="height: 52px;
                width: 223px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 16px;
                letter-spacing: 0.5px;
                line-height: 26px;
                text-align: center;">We are the greatest giant in this domain</p>
               
            </div>
    
            <div class="box" style="color:white; height: 224px;
            width: 262.5px;
            border-radius: 15px;
            background-color: #F95970;">
                <h3 style="height: 61px;
                width: 102px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 52px;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 61px;
                text-align: center;">10+</h3>
                <h6 style=" height: 21px;
                width: 158px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 21px;
                text-align: center;">Client Satisfaction</h6>
                <p style="height: 52px;
                width: 223px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 16px;
                letter-spacing: 0.5px;
                line-height: 26px;
                text-align: center;">Client is very happy with our services and we are great.</p>
                
           
            </div>
    
            <div class="box" style="color:white; height: 224px;
            width: 262.5px;
            border-radius: 15px;
            background-color: #FAB500;">
                
                <h3 style="height: 61px;
                width: 102px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 52px;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 61px;
                text-align: center;">450+</h3>
                <h6 style=" height: 21px;
                width: 158px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.5px;
                line-height: 21px;
                text-align: center;">Valets</h6>
                <p style="height: 52px;
                width: 223px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 16px;
                letter-spacing: 0.5px;
                line-height: 26px;
                text-align: center;">Amazing valets to make your delivery very quick</p>
                
            </div>
            <div class="box" style="color:white; height: 224px;
            width: 262.5px;
            border-radius: 15px;
            background-color: #627096;">
                 <h3 style="height: 61px;
                 width: 102px;
                 color: #FFFFFF;
                 font-family: Roboto;
                 font-size: 52px;
                 font-weight: bold;
                 letter-spacing: 1px;
                 line-height: 61px;
                 text-align: center;">$40M</h3>
                 <h6 style=" height: 21px;
                 width: 158px;
                 color: #FFFFFF;
                 font-family: Roboto;
                 font-size: 18px;
                 font-weight: 500;
                 letter-spacing: 0.5px;
                 line-height: 21px;
                 text-align: center;">In funding</h6>
                 <p style="height: 52px;
                 width: 223px;
                 color: #FFFFFF;
                 font-family: Roboto;
                 font-size: 16px;
                 letter-spacing: 0.5px;
                 line-height: 26px;
                 text-align: center;">A lot of money is invested in making our customers happy</p>
               
                
            </div>
                
        </div>
        </section>
      
        
                <!--stats section ends-->
      
        
        <!-- customer review section starts  -->
        <section class="review" id="review" >

            <h1 class="heading"> customer's <span>review</span> </h1>
        
            <div class="swiper review-slider" style="height:350px";>
        
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <img src="images\krazyfolds\Bitmap (13).png" alt="">
                        <p>This place is great! Atmosphere is chill and cool but the staff is also really friendly. They know what they’re doing and what they’re talking about, and you can tell making the customers happy is their main priority. Food is pretty good, some italian classics and some twists, and for their prices it’s 100% worth it.</p>
                        <h3>Sharon</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
        
            </div>
            <div class="swiper review-slider" style="height:350px";>
        
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <img src="images\Bitmap-1 (1).png" alt="">
                        <p>I ate the food at Empire Restaurant it has left the best impressions!Hospitable hosts, delicious dishes, beautiful presentation, wide wine list and wonderful dessert.
                             I recommend to everyone! I would like to come back here again and again.</p>
                        <h3>Kylie</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
        
            </div>
            <div class="swiper review-slider" style="height:350px";>
        
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <img src="images\Bitmap-1.png" alt="">
                        <p>It’s a great experience. The ambiance is very welcoming and charming. 
                            Amazing wines, food and service. Staff are extremely knowledgeable and make great recommendations.</p>
                        <h3>John</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
        
            </div>
        
        </section>
        <!-- customer review section ends -->
        
        <!-- footer section starts  -->
        
        <footer class="footer">
       
            <div class="inner-footer">
           
                <div class="social-links">
                   
                   <ul>
                       <li class="social-items"><a href="#"><img src="images\facebook.svg"></a></li>
                       <li class="social-items"><a href="#"><img src="images\twitter.svg"></a></li>
                       <li class="social-items"><a href="#"><img src="images\linkedin.svg"></a></li>
                   </ul>
                </div>
                <div class="quick-links">
                    <ul>
                        <li class="quick-items"><a href="#">Home</a></li>
                        <li class="quick-items"><a href="#">Best Services</a></li>
                        <li class="quick-items"><a href="#">Our Restaurants</a></li>
                        <li class="quick-items"><a href="#">FAQ's</a></li>
                        <li class="quick-items"><a href="#">Our Stats</a></li>
                        <li class="quick-items"><a href="#">Customer Speak</a></li>
                        <li class="quick-items"><a href="#">Social Media</a></li>
                    </ul>
                </div>
               
            </div>
       
                <div class="outer-footer">
                    <img src="images\Logo (1).svg">
                    <h2 style="text-align:center">Freshfred 2021, All rights are reserved</h2>
                </div>

           
        </footer>
       
        <!-- footer section ends -->


     
        
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        
        <!-- custom js file link  -->
        <script src="js/script.js"></script>
        
        </body>
        </html>
















