<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Grocery Website Design Tutorial</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="stylesheets/twelverestaurantsonline.css">

</head>
<body>
   
<!-- header section starts  -->

<header class="header">

   <img src="images\Logo (1).svg">

   

    <div class="icons">
       
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
         
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/cart-img-1.png" alt="">
            <div class="content">
                <h3>watermelon</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/cart-img-2.png" alt="">
            <div class="content">
                <h3>onion</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
       

    <form action="" class="login-form">

        <h3>login now</h3>
        <input type="email" placeholder="your email" class="box">
        <input type="password" placeholder="your password" class="box">
        <p>forget your password <a href="#">click here</a></p>
        <p>don't have an account <a href="#">create now</a></p>
        <input type="submit" value="login now" class="btn">
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" style=background-color:black id="home">
    <img src="images\naturalsice\hot-chocolate-sundae-500x500.jpg" width="700" height="600">

</div>
    <div class="content">

        <h1 style = "height: 80px;
        width: 500px;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 66px;
        font-weight: 900;
        letter-spacing: 1.5px;
        line-height: 80px;"> Natural Foods and Ice Cream</h1>
        <br>  <br>  <br>  <br>  <br>  <br>  <br><br>
        <p style="  height: 24px;
  width: 341px;
  color:  #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 24px;text-align: center;">Street food , fast food and Ice Cream

</p>
<br>
<p style="height: 54px;
  width: 766px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 27px;text-align: left;">The Natural Ice Cream is know for it's delicious Ice Cream

</p>
<br>
<p style=" height: 28px;
  width: 471px;
  color:  #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;">Open now  - 7:30 pm- 9:30 pm 
(Today)</P>
   
 
    </div>


</section>

<!-- home section ends -->


<!--orderonline starts-->
<title>Order Online</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/cart.css">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



<div class="container">

    <br> <br> <br>  <br> <br> <br>
	<h1>Order Online</h1>
    <br> <br> <br>
	<div class="cart">

		<div class="products">

			
			<div class="product">

				<img src="images\naturaliceonline\53842591.webp" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Chocolate Truffle Shake</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chocolate whipped with cream and nutty flavour </p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 340</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\falooda-photo-1.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Falooda</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chill Cool drink with icecream,fruits and nuts</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 200</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\dark-chocolate-truffle-pastry-2810-pcs-29-500x500.png" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Chocolate Cake</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chocolate cake with choco filling</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 200</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\post_3958435.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Nuts chocoIcecream</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chocolate Icecream with nuts</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 200</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\5b33819320f6bf075013d493.webp" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Pista Icecream</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Icecream with flavoured pista </p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 250</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\89-892571_ice-cream-cone-wallpaper-data-src-fruits-and.jpg" style="width: 180px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Fruit Icecream Sundae</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Icecream filled with natural fruits</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 180</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">
          
				<img src="images\naturaliceonline\75758092.webp" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Truufle Cake</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Moist chocolate Cake with whipped choco cream</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 280</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\desert-pirozhnoe-karamel-shokoladnoe-iagody.jpg" style="width: 180px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Chocolava Cheese Cake</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Cheese cake with chocolate wipped cream and fruit topping</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 340</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\dry-fruits-cream-with-ice-cream-recipe-main-photo.jpg" style="width: 180px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Gold Icecream</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Natural gold Icecream with creamy texture and nuts</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 500</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\food-macaron-chocolate-ice-cream-still-life-hd-wallpaper-preview.jpg" style="width: 180px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Flavoured Macroons</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Natural Flavoured Macroons with crunchy nuts and Icecream</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 200</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\istockphoto-974305476-612x612.jpg" style="width: 180px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Strawberry ChocoWaffles</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chocolate waffles with sauce and fresh strawberries</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 250</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\Nice-Cream-Milkshakes-4b.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Chocolate MugIcecream
                    </h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chocolate Icecream with Cake</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 300</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\Paan-Ice-Cream-Marathi-Recipe-feature-585x433.jpg" style="width: 180px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Paan Icecream</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Paan Flavoured Icecream with cherry and sweet toppings</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 240</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="images\naturaliceonline\fruit_juice_and_fruit_stock_photo_167154.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Fruit Lassi
                    </h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Fresh Lassi packed with healthy fruit pulp</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 150</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
			
            
            
		</div>

		<div class="cart-total">

			<p>

				<span>Total Price</span>

				<span>₹ 3,000</span>

			</p>

			<p>

				<span>Number of Items</span>

				<span>2</span>

			</p>

			<p>

				<span>You Save</span>

				<span>₹ 1,000</span>

			</p>

			<a href="foodapp\payment-gateway-integration-main\payment-gateway-integration-main\paymentPage.html">Proceed to Checkout</a>

		</div>

	</div>

</div>

<!--orderonline ends-->

 

<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading"> OTHER <span>Restaurants</span> </h1>


    <div class="box-container">
        <div class="box">
            <img src="images\Bitmap (2).png" alt="">
            <h3>Kerala Bro's</h3>
          <p> Kerala,Biryani,Beverages</p>


            <p> <span>5.5KM<span> : 25 MINS : <span>250Rs FOR ONE</span></p>
            <br><br>
            <a href="kerala" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images\Bitmap (3).png" alt="">
            <h3>Biryani House</h3>
          <p> Biryani,Hyderabadi,Indian</p>


            <p <span>1.3KM<span> : 16 MINS : <span>150Rs FOR ONE</span></p>
            <br><br><br>
            <a href="biryani" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="images\Bitmap (4).png" alt="">
            <h3>Pasta Street</h3>
          <p> Street Food, Italian, Chinese</p>


            <p <span>2.7KM<span> : 24 MINS : <span>100Rs FOR ONE</span></p>
            <br><br>
            <a href="pasta" class="btn">60% off | Use HOTDEAL</a>
        </div>
       
       <div class="box">
            <img src="images\Bitmap (5).png" alt="">
            <h3>Empire Restaurant</h3>
          <p> Bakery,Desserts,Beverages,Ice Cream</p>


            <p <span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
            <a href="empire" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images\Bitmap (6).png" alt="">
            <h3>Natural Ice Cream</h3>
          <p> Ice Cream</p>


            <p <span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="icecream" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images\Bitmap (7).png" alt="">
            <h3>Cane Hunt</h3>
          <p>Juics,Pizzas,Burgers,Deserts</p>


            <p <span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="cane" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images\Bitmap (8).png" alt="">
            <h3>Sandwich Eats</h3>
          <p> Sandwich Eats</p>


            <p <span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="sandwich" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images\Bitmap (9).png" alt="">
            <h3>Taaza Thindi</h3>
          <p> South Indian</p>
          <p <span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
          <a href="taaza" class="btn">60% off | Use HOTDEAL</a>
</div>


<div class="box">
            <img src="images\Bitmap (10).png" alt="">
            <h3>Green Land Hotel</h3>
          <p> North Indian, Mexican, Chinese</p>


            <p <span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="green" class="btn">60% off | Use HOTDEAL</a>
        </div>
        
        <div class="box">
            <img src="images\Bitmap (11).png" alt="">
            <h3>Krazzy Folds</h3>
          <p> Asian,Italian & Mexican</p>


            <p <span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="krazy" class="btn">60% off | Use HOTDEAL</a>
        </div>

<div class="box">
            <img src="images\Bitmap (12).png" alt="">
            <h3>Grand Hotel</h3>
          <p> German, Japanese, Chinese</p>


            <p <span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="grand" class="btn">60% off | Use HOTDEAL</a>
        </div>



    </div>

</section>

<!-- categories section ends -->

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="images\naturalsice\IMG-20161117-WA0015.jpg" alt="">
                <p>This place is great! Atmosphere is chill and cool but the staff is also really friendly. They know what they’re doing and what they’re talking about, and you can tell making the customers happy is their main priority. Food is pretty good, some italian classics and some twists, and for their prices it’s 100% worth it.</p>
                <h3>Geetu Lilian Peter</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

           

           

        </div>

    </div>

</section>

<!-- review section ends -->



<!-- footer section starts  -->
       
        <footer class="footer">
       
            <div class="inner-footer">
           
                <div class="social-links">
                   
                   <ul>
                       <li class="social-items"><a href=""#><img src="images\facebook.svg"></a></li>
                       <li class="social-items"><a href=""#><img src="images\twitter.svg"></a></li>
                       <li class="social-items"><a href=""#><img src="images\linkedin.svg"></a></li>
                   </ul>
                </div>
                <div class="quick-links">
                    <ul>
                        <li class="quick-items"><a href="#">Home</a></li>
                        <li class="quick-items"><a href="#">Best Services</a></li>
                        <li class="quick-items"><a href="#">Our Restaurants</a></li>
                        <li class="quick-items"><a href="#">FAQ's</a></li>
                        <li class="quick-items"><a href="#">Our Stats</a></li>
                        <li class="quick-items"><a href="#">Customer Speak</a></li>
                        <li class="quick-items"><a href="#">Social Media</a></li>
                    </ul>
                </div>
               
            </div>
       
                <div class="outer-footer">
                    <img src="images\Logo (1).svg">
<h2 style="text-align:center">Freshfred 2021, All rights are reserved</h2>
                </div>

           
        </footer>
       
        <!-- footer section ends -->



</body>
</html>
