<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 150px;
  height: 50px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>



<div class="row">
  <div class="column" style="background-color:#FEF5F5;">
      <img src="images/6447 (1).svg">

  
  </div>

  <div class="column" style="background-color:#FEF5F5;">
<img src="images/Logo (1).svg">
<h3>Welcome Back!<img src="images/hello (1).svg"></h3>


<div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FEF5F5;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color:#FEF5F5;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid white;
  margin-bottom: 25px;
}


.SUBMITbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.SUBMITbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

</style>
</head>
<body>

<form action="/login" method="post">

  <div class="container">
   
    <hr><div>
    <label for="FreshfredId"><b>Freshfred</b></label>
    <input type="text" placeholder="Enter FreshFred Id" name="FreshFredID" id="Freshfred" >
    
    </div>
<div>
  
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" >

    </div>
<div>
    <button type="submit" a href="/homepage" class="SUBMITbtn">SUBMIT</button>
</div>
  </div>
  
</form>

</div>
    
  </div>

</div>

</body>
</html>
