<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Grocery Website Design Tutorial</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="twelverestaurantsonline.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

   <img src="H:\miniproject\foodapp\homepageimages\Logo (1).svg">

   

    <div class="icons">
       
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
         
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/cart-img-1.png" alt="">
            <div class="content">
                <h3>watermelon</h3>

                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-trash"></i>
            <img src="image/cart-img-2.png" alt="">
            <div class="content">
                <h3>onion</h3>
                <span class="price">$4.99/-</span>
                <span class="quantity">qty : 1</span>
            </div>
        </div>
       

    <form action="" class="login-form">

        <h3>login now</h3>
        <input type="email" placeholder="your email" class="box">
        <input type="password" placeholder="your password" class="box">
        <p>forget your password <a href="#">click here</a></p>
        <p>don't have an account <a href="#">create now</a></p>
        <input type="submit" value="login now" class="btn">
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" style=background-color:black id="home">
    <img src="H:\miniproject\foodapp\homepageimages\pasta\maxresdefault.jpg"  width="640" height="600">

</div>
    <div class="content">

        <h1 style = "height: 80px;
  width: 277px;
  color:  #FFFFFF;
  font-family: Lato;
  font-size: 66px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 80px;">Pasta Street </h1><br><br><br><br><br>
        <p style="  height: 24px;
  width: 341px;
  color:  #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 24px;">Fast food, Street food</p>
<br>
<p style="height: 54px;
  width: 766px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 27px;">Pasta Street  a restaurant located at jayanagar 4 th block.The Restaurant is Known for tasty and Services and Hygiene.</p>
<br>
<p style=" height: 28px;
  width: 471px;
  color:  #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;">Open now  -  8:30am – 12:30pm, 4pm – 9:30pm (Today)</P>
   
    </div>


</section>

<!-- home section ends -->
<!--orderonline starts-->

<title>Order Online</title>

	<link rel="stylesheet" type="text/css" href="cart.css">

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



<div class="container">

    <br> <br> <br>  <br> <br> <br>
	<h1>Order Online</h1>
    <br> <br> <br>
	<div class="cart">

		<div class="products">
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\15578612145cdb135e5e2bf.jpg" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Fried Raviolli</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;"> cheese ravioli that are dredged in seasoned breadcrumb</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 200</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\BalsamicSoyRoastedGarlicMushrooms8000146.jpg" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Butter garlic Mushroom</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">This dish is packed with flavours of butter sauted mushrooms with thyme and pepper and garlic</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 180</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\GarlicButterShrimpFeatured.png" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Butter prawns</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">This dish is packed with flavours of butter sauted prawns and cooked till golden</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 350 </h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\Homemade-Baked-Tortilla-Chips-close.jpg" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Fried Tortilla</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Crispy Golden Fried Tortillas for a good starter</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 150</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\images (2).jpeg" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Creamy Tomato Rigtoni</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;"> Bursting with hot Italian sausage, sweet bell peppers and spinach smothered in a hearty, flavor bursting tomato cream sauce</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 250</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\images (3).jpeg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Pasta Carbonara</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;"> The dish is combo of eggs, hard cheese, cured chicken, and black pepper.</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 300</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\istockphoto-156807712-612x612.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Garlic Bread</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;"> Bread, topped with garlic and olive oil or butter and may include additional herbs, such as oregano or chives.</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 200</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\maxresdefault.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Honey BBQ Chicken</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Chicken sauted with honey flavours of semame and chared</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 450</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\oven-baked-crispy-potato-wedges-the-best-min.jpg" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Potato Wedges</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">A crispy starter for a vegetarian which goes well with a tangy sause</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 250 </h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\paneerpasta.png" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Paneer Pasta</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Indian style pasta recipe is loaded with Paneer and mixed veggies which makes the dish colourfu</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 250</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\Pizza-with-Prosciutto-and-Rocket.jpg" style="width: 220px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Rocket Pizza</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Italian style pizza  loaded with tomato sause and mixed veggies and greens</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 300</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
            <div class="product">

				<img src="H:\miniproject\foodapp\homepageimages\pastaonline\World-Pasta-Day-_17550aeb04d_medium.jpg" style="width: 300px;">

				<div class="product-info">

					<h3 class="product-name" style="font-style: bold;font-size: 20px;">Creamy Pasta</h3>
                    <br>
                    <p style="font-style: bold;font-size: 15px;">Italian style pasta  loaded with creamy sause and mixed veggies and mushroom</p>
                    <br>
					<h4 class="product-price"style="font-style: bold;font-size: 15px;" >₹ 400</h4>
                    <br>
					<p class="product-quantity" style="font-style: bold;font-size: 20px;">Qnt: <input value="1" name="">
                    <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                    </p>
                </div>

			</div>
			
			
        </div>

		<div class="cart-total">

			<p>

				<span>Total Price</span>

				<span>₹ 3,000</span>

			</p>

			<p>

				<span>Number of Items</span>

				<span>2</span>

			</p>

			<p>

				<span>You Save</span>

				<span>₹ 1,000</span>

			</p>

			<a href="H:\miniproject\foodapp\payment-gateway-integration-main\payment-gateway-integration-main\paymentPage.html">Proceed to Checkout</a>

		</div>

	</div>

</div>


<!--orderonline ends-->

<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading"> OTHER <span>Restaurants</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (1).png" alt="">
            <h3>Big Bites</h3>
          <p> Street Food,Fast Food,South Indian</p>


            <p <span>5.5KM<span> : 27 MINS : <span>300Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\bigbites.html" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (12).png" alt="">
            <h3>Grand Hotel</h3>
          <p> German, Japanese, Chinese</p>


            <p <span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\grand.html" class="btn">60% off | Use HOTDEAL</a>
        </div>

        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (2).png" alt="">
             <h3>Kerala Bro's</h3>
          <p> Kerala,Biryani,Beverages</p>


            <p <span>5.5KM<span> : 25 MINS : <span>250Rs FOR ONE</span></p>
           
            <a href="H:miniproject\foodapp\kerala.html" class="btn">60% off | Use HOTDEAL</a>

        </div>

        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (3).png" alt="">
              <h3>Biryani House</h3>
          <p> Biryani,Hyderabadi,Indian</p>


            <p <span>1.3KM<span> : 16 MINS : <span>150Rs FOR ONE</span></p>
       
            <a href="H:\miniproject\foodapp\biryani.html" class="btn">60% off | Use HOTDEAL</a>

        </div>

       <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (5).png" alt="">
            <h3>Empire Restaurant</h3>
          <p> Bakery,Desserts,Beverages,Ice Cream</p>


            <p <span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\empire.html" class="btn">60% off | Use HOTDEAL</a>

        </div>

        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (8).png" alt="">
            <h3>Sandwich Eats</h3>
          <p> Sandwich Eats</p>


            <p <span>1.4KM<span> : 14 MINS : <span>120Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\sandwich.html" class="btn">60% off | Use HOTDEAL</a>
        </div>


        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (6).png" alt="">
            <h3>Natural Ice Cream</h3>
          <p> Ice Cream</p>


            <p <span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\naturalice.html" class="btn">60% off | Use HOTDEAL</a>
        </div>


<div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (9).png" alt="">
              <h3>Taaza Thindi</h3>


          <p> South Indian</p>
          <p <span>7.5KM<span> : 30 MINS : <span>450Rs FOR ONE</span></p>
          <a href="H:\miniproject\foodapp\taaza.html" class="btn">60% off | Use HOTDEAL</a>

        </div>

<div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (10).png" alt="">
            <h3>Green Land Hotel</h3>
         
          <p> North Indian</p>


            <p <span>1.9KM<span> : 23 MINS : <span>170Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\greenland.html" class="btn">60% off | Use HOTDEAL</a>

        </div>

<div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (11).png" alt="">
               <h3>Krazzy Folds</h3>
          <p> Asian,Italian & Mexican</p>


            <p <span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\krazyfolds.html" class="btn">60% off | Use HOTDEAL</a>

        </div>
        <div class="box">
            <img src="H:\miniproject\foodapp\homepageimages\Bitmap (7).png" alt="">
            <h3>Cane Hunt</h3>
          <p>Juics,Pizzas,Burgers,Deserts</p>


            <p <span>2.8KM<span> : 22 MINS : <span>350Rs FOR ONE</span></p>
            <a href="H:\miniproject\foodapp\canehunt.html" class="btn">60% off | Use HOTDEAL</a>
        </div>



    </div>
   

</section>

<!-- categories section ends -->

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="H:\miniproject\foodapp\homepageimages\pasta\depositphotos_294101330-stock-photo-handsome-man-cooking-pasta-home.jpeg" alt="">
                <p>A judicious amount of heavy cream enriches this simple tomato sauce, producing a lush texture that clings to the pasta without blanketing richness. Crushing the canned tomatoes by hand creates a rustic mixture of tomato pulp, pieces, and puree. This recipe is inspired by sommelier Derrick C. Westbrook of 1340 Beer Wine Spirits in Chicago, who named it his ideal dish for pairing with wine. “My first restaurant job was at an Italian restaurant; I’d ask the pasta cook to mix red sauce with a splash of cream, a riff on vodka sauce," he says. "I still love creamy tomato sauce on short pasta, paired with juicy, fresh red wines like Zweigelt or unoaked Cabernet Franc that offer just a touch of funk and medium acidity.”</p>
                <h3>SANFORD</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            

        </div>

    </div>

</section>

<!-- review section ends -->



<!-- footer section starts  -->
        
        <footer class="footer">
        
            <div class="inner-footer">
            
                <div class="social-links">
                    
                   <ul>
                    <li class="social-items"><a href=""#><img src="H:\miniproject\foodapp\homepageimages\facebook.svg"></a></li>
                    <li class="social-items"><a href=""#><img src="H:\miniproject\foodapp\homepageimages\twitter.svg"></a></li>
                    <li class="social-items"><a href=""#><img src="H:\miniproject\foodapp\homepageimages\linkedin.svg"></a></li>
                   </ul>
                </div>
                <div class="quick-links">
                    <ul>
                        <li class="quick-items"><a href="#">Home</a></li>
                        <li class="quick-items"><a href="#">Best Services</a></li>
                        <li class="quick-items"><a href="#">Our Restaurants</a></li>
                        <li class="quick-items"><a href="#">FAQ's</a></li>
                        <li class="quick-items"><a href="#">Our Stats</a></li>
                        <li class="quick-items"><a href="#">Customer Speak</a></li>
                        <li class="quick-items"><a href="#">Social Media</a></li>
                    </ul>
                </div>
                
            </div>
        
                <div class="outer-footer">
                    <img src="H:\miniproject\foodapp\homepageimages\Logo (1).svg">
<h2 style="text-align:center">Freshfred 2021, All rights are reserved</h2>
                </div>

           
        </footer>
        
        <!-- footer section ends -->



<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>
