<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;

}


.column {
  float: left;
  width: 50%;
  padding: 150px;
  height: 50px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>



<div class="row">
  <div class="column" style="background-color:#FEF5F5;">
      <img src="images/6447 (1).svg">

  
  </div>

  <div class="column" style="background-color:#FEF5F5;">
<img src="images/Logo (1).svg">

<h3>HI!<img src="images/hello (1).svg"></h3>

<div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: lato, roboto, robato;
  background-color: #FEF5F5;
opacity: 0.9;

}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;

}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
opacity: 0.9;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 2;
}

.registerbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #F04944;
  text-align: center;
}
</style>
</head>
<body>

<form action="/registration" method="post">
  <div class="container">
    
    <p>You Already have an Account?   <a href="/login">Log In</a></p>
    <hr>
    <label for="FreshfredId"><b>Freshfred</b></label>
    <input type="text" placeholder="Enter FreshFred Id" name="FreshFredID" id="Freshfred" >
    
    <label for="Name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="Name" >

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" >

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" >

    
    <button type="submit" class="registerbtn">Register</button>

  </div>
  
</form>

</div>
    
  </div>

</div>

</body>
</html>
